<h1><%= @facade.vendor.name %></h1>

<div class='contact_info'>
  <h4>Contact Info:</h4>
  <ul>
    <li>Name: <%= @facade.vendor.contact_name %></li>
    <li>Phone: <%= @facade.vendor.contact_phone %></li>
  </ul>
</div>

<div class='credit_info'>
  <p>Credit Accepted?: <%= @facade.vendor.credit_accepted %>
</div>

<div class='description'>
  <p>Description: <%= @facade.vendor.description %></p>
</div>